{% extends 'base.html' %}
{% block content %}
  {% load static %}

    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center">
      <div class="container">
        <div class="breadcrumb-content">
          <h2>Planning for the perfect family trip</h2>
          <!-- <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Planning for ...</li>
            </ul>
          </nav> -->
        </div>
      </div>
      <div class="section-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <!-- Detail -->
    <section class="item-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="item-wrapper">
              <div class="cover-content">
                <div class="author-detail">
                  <a href="#" class="tag tag-blue">#Travel</a>
                  <a href="#" class="tag tag-blue"><i class="fa fa-eye"></i> 2500</a>
                </div>
                <h2>Planning for the perfect family trip</h2>
                <div class="author-detail">
                  <span
                    ><a href="#"><i class="fa fa-clock-o"></i> Posted On : 12 May</a></span
                  >
                  <span class="blog-date-icon">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 24</a>
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 5</a>
                    <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 0</a>
                  </span>
                </div>
              </div>
              <div class="cover-image">
                <img src="{% static 'images/breadcrumb.jpg' %}" alt="Image" />
              </div>
              <div class="item-detail">
                <p class="articlepara">
                  Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional
                  clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                  Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to
                  maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on
                  cross-platform integration.
                </p>
                <div class="detail-image">
                  <img src="{% static 'images/adbg.jpg' %}" alt="Image" />
                </div>
                <p class="articlepara">
                  Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional
                  clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                  Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to
                  maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on
                  cross-platform integration.
                </p>
              </div>
              <blockquote>
                <p>
                  Was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                  software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <div class="sectionoverlay"></div>
              </blockquote>
              <div class="author-profile">
                <div class="profile-image">
                  <img src="{% static 'images/profile1.jpg' %}" alt="Image" />
                </div>
                <div class="profile-content">
                  <h3>Jack Richard</h3>
                  <ul class="profile-link">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-tumblr"></i></a>
                    </li>
                  </ul>
                  <p>
                    Was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                </div>
              </div>
              <div class="share-buttons">
                <a href="#" class="btn-large btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Share on Facebook</a>
                <p><span>350</span> shares</p>
                <a href="#" class="btn-large btn-twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Share on Twitter</a>
              </div>
              <div class="item-tags">
                <a href="#" class="tag-blue tag">#Sports</a>
                <a href="#" class="tag tag-blue">#World Cup</a>
                <a href="#" class="tag tag-blue">#Football</a>
                <a href="#" class="tag tag-blue">#Qatar</a>
              </div>
              <div class="related-posts">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="blog-item">
                      <div class="blog-image">
                        <img src="{% static 'images/blog4.jpg' %}" alt="Image" />
                      </div>
                      <div class="blog-content">
                        <div class="blog-date">
                          <p><i class="fa fa-clock-o"></i> Posted On : 12 May</p>
                        </div>
                        <h3><a href="blog-detail.html">What happened during my first trip alone</a></h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute
                          irure dolor in reprehenderit.
                        </p>
                        <div class="blog-author">
                          <div class="pull-left">
                            <p>
                              <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> Jack Richard</a>
                            </p>
                          </div>
                          <div class="pull-right blog-date-icon">
                            <p><i class="fa fa-eye" aria-hidden="true"></i> 24</p>
                            <p><i class="fa fa-heart" aria-hidden="true"></i> 5</p>
                            <p><i class="fa fa-comment-o" aria-hidden="true"></i> 0</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="blog-item">
                      <div class="blog-image">
                        <img src="{% static 'images/blog5.jpg' %}" alt="Image" />
                      </div>
                      <div class="blog-content">
                        <div class="blog-date">
                          <p><i class="fa fa-clock-o"></i> Posted On : 12 May</p>
                        </div>
                        <h3><a href="blog-detail.html">remembering the road i went through</a></h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute
                          irure dolor in reprehenderit.
                        </p>
                        <div class="blog-author">
                          <div class="pull-left">
                            <p>
                              <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> Jack Richard</a>
                            </p>
                          </div>
                          <div class="pull-right blog-date-icon">
                            <p><i class="fa fa-eye" aria-hidden="true"></i> 24</p>
                            <p><i class="fa fa-heart" aria-hidden="true"></i> 5</p>
                            <p><i class="fa fa-comment-o" aria-hidden="true"></i> 0</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comment-box">
                <h3>Comments</h3>
                <ul class="comment-list">
                  {% for c in comments %}
                  <li>
                    <div class="comment-item">
                      <div class="comment-image">
                        <img src="{% static 'images/author.jpg' %}" alt="Image" />
                      </div>
                      <div class="comment-content">
                        <h4>{{ c.name }}</h4>
                        <p class="date"><i class="fa fa-clock-o"></i> {{ c.created_at|date:"d M Y" }}</p>
                        <p>{{ c.comment }}</p>
                        {% if c.website %}
                        <p><a href="{{ c.website }}" target="_blank" rel="noopener">Website</a></p>
                        {% endif %}
                      </div>
                    </div>
                  </li>
                  {% empty %}
                  <li>
                    <p>No comments yet. Be the first to comment.</p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="comment-form">
                <form method="post" action="{% url 'blog_details' %}">
                  {% csrf_token %}
                  <h3>Add a comment</h3>
                  <div class="row">
                    <div class="form-group mb-3 col-lg-12">
                      <label for="comment">Your Comment:</label>
                      <textarea id="comment" name="comment" class="form-control" required></textarea>
                    </div>
                    <div class="form-group mb-3 col-lg-6 col-md-6">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" id="name" name="name" required />
                    </div>
                    <div class="form-group mb-3 col-lg-6 col-md-6">
                      <label for="email">Email address:</label>
                      <input type="email" class="form-control" id="email" name="email" required />
                    </div>
                    <div class="form-group mb-3 col-lg-12">
                      <label for="website">Website:</label>
                      <input type="url" class="form-control" id="website" name="website" />
                    </div>
                    <div class="col-lg-12">
                      <div class="comment-btn">
                        <button type="submit" class="btn-blue btn-red">Submit Comment</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
    
